
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  --primary-orange: #FF6B00;
  --secondary-text: #6B6B7B;
}

html,
body {
  background-color: #08080F;
  color: #F1F1F1;
}

* {
  box-sizing: border-box;
}
